*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#aaa9bc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0px;
}
/* The background clock */
#container{
    position: relative;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 0.75rem solid #44444f;
    margin: auto;
    box-shadow: 0 0 16px 0 #2b2c46, inset 4px 4px 16px 0 rgba(90,86,102,0.4), inset -4px -4px 16px 0 rgba(90,86,102,0.4);
    background-color: #191923;
    

}

#container::after{
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    content: " ";
    background-color: #aaa9bc;
    z-index: 10;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}



#hour,#min,#sec {
    position: absolute;
    background-color: aliceblue;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 20%;
    /* position: absolute; */
    background-color: rgb(0, 136, 255);
    top: 30.2%;
    left: 49.5%;
    /* opacity: 50; */
    /* display: none; */
    /* z-index: 100; */
}
#min{
    width: 1%;
    height: 35%;
    background-color: aliceblue;
    top: 15.1%;
    left: 49.5%;
    /* opacity: 50; */
    /* z-index: 1000; */
    /* display: none; */
}
#sec{
    width: 0.5%;
    height: 25%;
    /* opacity: 50; */
    background-color: aliceblue;
    /* display: none; */
    top: 25%;
    left: 49.75%;
}